{:kotoba.app/id "cloud.itonami.isic-2811", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreieywpwne2u2kd5wd6gacmsrzokyefiazexvl5ksuujl3fcgnxa4hi", :kotoba.app/embed-url "ipfs://bafkreieywpwne2u2kd5wd6gacmsrzokyefiazexvl5ksuujl3fcgnxa4hi", :published {:archive "https://kotobase.net/ipfs/bafkreieywpwne2u2kd5wd6gacmsrzokyefiazexvl5ksuujl3fcgnxa4hi", :size 72361, :put-status 201, :get-status 200, :at "2026-08-15T13:46:36.771Z"}}
